Package: com.xtomasnemec.bettershitboard
Name: "better" shitboard theme
Version: 1.3
Architecture: iphoneos-arm64
Description: an "even better" theme
Author: xtomasnemec (forked from https://github.com/reticivis-net/shitboard/)
Maintainer: xtomasnemec
Section: Themes
Depends: com.spark.snowboard, com.spark.snowboard.settingsicons, com.spark.snowboard.masks, com.spark.snowboard.ui, com.spark.snowboard.fonts
